:root {
    --primary: #38b6ff;
    --primary-dark: #1a97e0;
    --dark: rgb(2, 6, 23);
    --dark-light: rgb(10, 15, 35);
    --text: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text);
}

body {
    width: 100%;
    background-color: var(--dark);
}

/*------------------------------- HEADER -------------------------------*/
header {
    width: 100%;
    background-color: var(--dark-light);
}

.header__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 2rem 2rem;
    box-shadow: 0px 1px 5px var(--dark);
    background-color: var(--dark-light);
}

.header__title {
    text-decoration: none;
}

.header__title span {
    color: var(--primary);
}


.header__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--dark-light);
    transition: all 0.3s ease;
}

.menu-hidden {
    opacity: 0;
    height: 0;
    top: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.header__menu-item {
    list-style: none;
    padding: 1rem;
    font-weight: 600;
}

.header__link {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.header__link:hover {
    color: var(--primary);
}

.header__button {
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
}

@media (min-width: 768px) {
    .header__button {
        display: none;
    }

    .header__menu {
        position: relative;
        flex-direction: row;
        gap: 2rem;
    }

    .menu-hidden {
        opacity: 1;
        height: auto;
    }

    .header__menu-item {
        padding: 0;
    }
}

/*------------------------------- MAIN -------------------------------*/
main {
    width: 100%;
    min-height: calc(100vh - 91.59px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    gap: 4rem;
}

@media (min-width: 740px) {
    main {
        padding: 0rem 3rem;
    }
}

/*------------------------------- SECTIONS -------------------------------*/
section{
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;  
}

section h2{
    position: relative;        
}

section h2::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--primary);   
}

@media (min-width: 740px) {
    main {
        padding: 0rem 3rem;
    }

    section h2{
        align-self: flex-start;       
    }
}

/*------------------------------- HERO -------------------------------*/
.hero {
    min-height: calc(100vh - 91.59px);
    flex-direction: column-reverse;  
}

.hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem;    
}

.hero__img img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 0.4rem var(--primary), 0 0 1rem 0.4rem var(--primary-dark), 0 0 0 0.4rem var(--primary-dark);
    animation: circle-wave 3.5s linear infinite;

}

@keyframes circle-wave {
    from {
        box-shadow: 0 0 0 0.4rem var(--primary), 0 0 1rem 0.4rem var(--primary-dark), 0 0 0 0.4rem var(--primary-dark);
    }

    to {
        box-shadow: 0 0 0 0.4rem var(--primary), 0 0 1rem 0.4rem var(--primary-dark), 0 0 0 3rem rgba(39, 179, 154, 0%);
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}


.hero__text h1{
    font-size: clamp(2rem, 4vw, 3.3rem);
}


.hero__text p:first-child,
.hero__text span {
    color: var(--primary);
}

.hero__text p:first-child {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
}

.hero__text p:nth-child(3) {
    color: var(--text-secondary);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.hero__buttons {
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 2px solid var(--primary);    
    background-color: var(--primary);   
    transition: all 0.3s ease;
}

.btn-secondary {
    background-color: transparent;
}

@media (min-width: 600px) {
    .hero__buttons {
        flex-direction: row;
    }

    .hero__img img {
        width: 40%;
    }    
}

@media (min-width: 1000px) {
    .hero {
        max-width: 1400px;
        flex-direction: row;
        padding: 10rem 0rem;
    }

    .hero__text {
        width: 60%;
    }

    .hero__text p:first-child{
        text-align: left;        
    }

    .hero__img {
        width: 40%;
        height: 50%;
        justify-content: end;
        padding: 0rem 2rem;
    }

    .hero__img img {
        width: 300px;
        height: 300px;
    }

    .btn {
        width: auto;
    }    
}

/*------------------------------- ABOUT ME -------------------------------*/

.about__description{
    line-height: 1.5;
    text-align: justify; /* ANALIZAR SI SE VE MEJOR JUSTIFY O SIN JUSTIFY */
}

@media (min-width: 740px) {
    .about__content{
        padding: 2rem;
        border-radius: 20px;
        background-color: var(--dark-light);    
    }        
}
/*------------------------------- SKILLS -------------------------------*/
.skills__content{
    width: 100%;
}

.skills__list{    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;    
}

.skills__list-item{
    width: 110px;
    height: 100px;
    list-style: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--dark-light);
}

.skills__list-item i{
    font-size: 3rem;    
}

.skills__list-item span{
    font-weight: 600;
    font-size: 0.85rem;    
}

@media (min-width: 740px) {  
    .skills__content{
        padding: 1.5rem;
        border-radius: 20px;
        background-color: var(--dark-light);
    }
    .skills__list-item{
        background-color: var(--dark);
    }  
} 

/*------------------------------- PROJECTS -------------------------------*/
.projects__content{
    width: 100%;
}

.projects__list{    
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;   
}

.projects__list-item{
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;        
    background-color: var(--dark-light); 
}

.projects__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 10px;
}

.list__description{
    display: flex;
    flex-direction: column;    
    gap: 1rem;
}

.list__description h3{
    color: var(--primary);
}

.list__description p {
    /* min-height: 100px; */
}

.list__icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
    font-size: 2rem;
}


@media (min-width: 740px) {
    .projects__list{
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        column-gap:2rem;
        row-gap: 2rem;   
    }  

    .list__icons{
        justify-content: flex-start;
    }
}

/*------------------------------- CONTACT -------------------------------*/
.contact__content{
    width: 100%;
}
.contact__text{
    padding-bottom: 2rem;
}
.contact__form{
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
        
}
.contact__form-input,
.contact__form-textarea{
    all: unset;
    padding: 1rem;
    color: black; 
    border-radius: 12px;
    background-color: white;
    border: 3px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.088);
    transition: border 0.3s ease-in-out;
}
.contact__form-input:focus,
.contact__form-textarea:focus{
    border-color: var(--primary-dark);
}
.contact__form-input::placeholder,
.contact__form-textarea::placeholder{
    font-size: 0.9rem;
}

.contact__form-textarea{
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    field-sizing: content;
}

@media (min-width: 740px) {
    .contact__form{
        background-color: var(--dark-light);
        padding: 3rem 2rem;
        border-radius: 20px;
    }
    .contact__form-btn{
        margin-top: 1rem;
    }
        
}

 